[submodule "ZenPacks.AndreaConsadori.ASSP"]
	path = ZenPacks.AndreaConsadori.ASSP
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.ASSP.git
[submodule "ZenPacks.AndreaConsadori.AlliedTelsys"]
	path = ZenPacks.AndreaConsadori.AlliedTelsys
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.AlliedTelsys.git
[submodule "ZenPacks.AndreaConsadori.Alvarion"]
	path = ZenPacks.AndreaConsadori.Alvarion
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Alvarion.git
[submodule "ZenPacks.AndreaConsadori.Aruba"]
	path = ZenPacks.AndreaConsadori.Aruba
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Aruba.git
[submodule "ZenPacks.AndreaConsadori.Asterisk"]
	path = ZenPacks.AndreaConsadori.Asterisk
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Asterisk.git
[submodule "ZenPacks.AndreaConsadori.Asterisk16"]
	path = ZenPacks.AndreaConsadori.Asterisk16
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Asterisk16.git
[submodule "ZenPacks.AndreaConsadori.Colubris"]
	path = ZenPacks.AndreaConsadori.Colubris
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Colubris.git
[submodule "ZenPacks.AndreaConsadori.Exchange2007WMI"]
	path = ZenPacks.AndreaConsadori.Exchange2007WMI
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Exchange2007WMI.git
[submodule "ZenPacks.AndreaConsadori.Funkwerk"]
	path = ZenPacks.AndreaConsadori.Funkwerk
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Funkwerk.git
[submodule "ZenPacks.AndreaConsadori.Huawei"]
	path = ZenPacks.AndreaConsadori.Huawei
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Huawei.git
[submodule "ZenPacks.AndreaConsadori.Iomega"]
	path = ZenPacks.AndreaConsadori.Iomega
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Iomega.git
[submodule "ZenPacks.AndreaConsadori.LenovoRDThinkServer"]
	path = ZenPacks.AndreaConsadori.LenovoRDThinkServer
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.LenovoRDThinkServer.git
[submodule "ZenPacks.AndreaConsadori.MRV"]
	path = ZenPacks.AndreaConsadori.MRV
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.MRV.git
[submodule "ZenPacks.AndreaConsadori.MSIAS_RadiusServer"]
	path = ZenPacks.AndreaConsadori.MSIAS_RadiusServer
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.MSIAS_RadiusServer.git
[submodule "ZenPacks.AndreaConsadori.Microtick"]
	path = ZenPacks.AndreaConsadori.Microtick
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Microtick.git
[submodule "ZenPacks.AndreaConsadori.Motorola"]
	path = ZenPacks.AndreaConsadori.Motorola
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Motorola.git
[submodule "ZenPacks.AndreaConsadori.Netasq"]
	path = ZenPacks.AndreaConsadori.Netasq
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Netasq.git
[submodule "ZenPacks.AndreaConsadori.Pfsense"]
	path = ZenPacks.AndreaConsadori.Pfsense
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Pfsense.git
[submodule "ZenPacks.AndreaConsadori.Raytalk"]
	path = ZenPacks.AndreaConsadori.Raytalk
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Raytalk.git
[submodule "ZenPacks.AndreaConsadori.UbiquitiNanostation"]
	path = ZenPacks.AndreaConsadori.UbiquitiNanostation
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.UbiquitiNanostation.git
[submodule "ZenPacks.BlakeDrager.Bridgewave"]
	path = ZenPacks.BlakeDrager.Bridgewave
	url = git://github.com/zenoss/ZenPacks.BlakeDrager.Bridgewave.git
[submodule "ZenPacks.BlakeDrager.JuniperJSeries.Performance"]
	path = ZenPacks.BlakeDrager.JuniperJSeries.Performance
	url = git://github.com/zenoss/ZenPacks.BlakeDrager.JuniperJSeries.Performance.git
[submodule "ZenPacks.BlakeDrager.fping"]
	path = ZenPacks.BlakeDrager.fping
	url = git://github.com/zenoss/ZenPacks.BlakeDrager.fping.git
[submodule "ZenPacks.DrD_Studios.BlueArc"]
	path = ZenPacks.DrD_Studios.BlueArc
	url = git://github.com/zenoss/ZenPacks.DrD_Studios.BlueArc.git
[submodule "ZenPacks.Ecocoms.OpenLayersMap"]
	path = ZenPacks.Ecocoms.OpenLayersMap
	url = git://github.com/zenoss/ZenPacks.Ecocoms.OpenLayersMap.git
[submodule "ZenPacks.Firestar.CiscoASA"]
	path = ZenPacks.Firestar.CiscoASA
	url = git://github.com/zenoss/ZenPacks.Firestar.CiscoASA.git
[submodule "ZenPacks.HP.Proliant.MIBs"]
	path = ZenPacks.HP.Proliant.MIBs
	url = git://github.com/zenoss/ZenPacks.HP.Proliant.MIBs.git
[submodule "ZenPacks.Hyper.virtualMachines"]
	path = ZenPacks.Hyper.virtualMachines
	url = git://github.com/zenoss/ZenPacks.Hyper.virtualMachines.git
[submodule "ZenPacks.Imas.BlueCoat"]
	path = ZenPacks.Imas.BlueCoat
	url = git://github.com/zenoss/ZenPacks.Imas.BlueCoat.git
[submodule "ZenPacks.Imas.SmsFunctions"]
	path = ZenPacks.Imas.SmsFunctions
	url = git://github.com/zenoss/ZenPacks.Imas.SmsFunctions.git
[submodule "ZenPacks.Ironport.PerformanceGraphs"]
	path = ZenPacks.Ironport.PerformanceGraphs
	url = git://github.com/zenoss/ZenPacks.Ironport.PerformanceGraphs.git
[submodule "ZenPacks.Iwillfearnoevil.Domain"]
	path = ZenPacks.Iwillfearnoevil.Domain
	url = git://github.com/zenoss/ZenPacks.Iwillfearnoevil.Domain.git
[submodule "ZenPacks.Iwillfearnoevil.Powernet7930"]
	path = ZenPacks.Iwillfearnoevil.Powernet7930
	url = git://github.com/zenoss/ZenPacks.Iwillfearnoevil.Powernet7930.git
[submodule "ZenPacks.Iwillfearnoevil.Powernet9225"]
	path = ZenPacks.Iwillfearnoevil.Powernet9225
	url = git://github.com/zenoss/ZenPacks.Iwillfearnoevil.Powernet9225.git
[submodule "ZenPacks.Jcolon.NortelMibs"]
	path = ZenPacks.Jcolon.NortelMibs
	url = git://github.com/zenoss/ZenPacks.Jcolon.NortelMibs.git
