[submodule "ZenPacks.AndreaConsadori.ASSP"]
	path = ZenPacks.AndreaConsadori.ASSP
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.ASSP.git
[submodule "ZenPacks.AndreaConsadori.AlliedTelsys"]
	path = ZenPacks.AndreaConsadori.AlliedTelsys
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.AlliedTelsys.git
[submodule "ZenPacks.AndreaConsadori.Alvarion"]
	path = ZenPacks.AndreaConsadori.Alvarion
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Alvarion.git
[submodule "ZenPacks.AndreaConsadori.Aruba"]
	path = ZenPacks.AndreaConsadori.Aruba
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Aruba.git
[submodule "ZenPacks.AndreaConsadori.Asterisk"]
	path = ZenPacks.AndreaConsadori.Asterisk
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Asterisk.git
[submodule "ZenPacks.AndreaConsadori.Asterisk16"]
	path = ZenPacks.AndreaConsadori.Asterisk16
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Asterisk16.git
[submodule "ZenPacks.AndreaConsadori.Colubris"]
	path = ZenPacks.AndreaConsadori.Colubris
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Colubris.git
[submodule "ZenPacks.AndreaConsadori.Exchange2007WMI"]
	path = ZenPacks.AndreaConsadori.Exchange2007WMI
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Exchange2007WMI.git
[submodule "ZenPacks.AndreaConsadori.Funkwerk"]
	path = ZenPacks.AndreaConsadori.Funkwerk
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Funkwerk.git
[submodule "ZenPacks.AndreaConsadori.Huawei"]
	path = ZenPacks.AndreaConsadori.Huawei
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Huawei.git
[submodule "ZenPacks.AndreaConsadori.Iomega"]
	path = ZenPacks.AndreaConsadori.Iomega
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Iomega.git
[submodule "ZenPacks.AndreaConsadori.LenovoRDThinkServer"]
	path = ZenPacks.AndreaConsadori.LenovoRDThinkServer
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.LenovoRDThinkServer.git
[submodule "ZenPacks.AndreaConsadori.MRV"]
	path = ZenPacks.AndreaConsadori.MRV
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.MRV.git
[submodule "ZenPacks.AndreaConsadori.MSIAS_RadiusServer"]
	path = ZenPacks.AndreaConsadori.MSIAS_RadiusServer
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.MSIAS_RadiusServer.git
[submodule "ZenPacks.AndreaConsadori.Microtick"]
	path = ZenPacks.AndreaConsadori.Microtick
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Microtick.git
[submodule "ZenPacks.AndreaConsadori.Motorola"]
	path = ZenPacks.AndreaConsadori.Motorola
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Motorola.git
[submodule "ZenPacks.AndreaConsadori.Netasq"]
	path = ZenPacks.AndreaConsadori.Netasq
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Netasq.git
[submodule "ZenPacks.AndreaConsadori.Pfsense"]
	path = ZenPacks.AndreaConsadori.Pfsense
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Pfsense.git
[submodule "ZenPacks.AndreaConsadori.Raytalk"]
	path = ZenPacks.AndreaConsadori.Raytalk
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.Raytalk.git
[submodule "ZenPacks.AndreaConsadori.UbiquitiNanostation"]
	path = ZenPacks.AndreaConsadori.UbiquitiNanostation
	url = git://github.com/zenoss/ZenPacks.AndreaConsadori.UbiquitiNanostation.git
[submodule "ZenPacks.BlakeDrager.Bridgewave"]
	path = ZenPacks.BlakeDrager.Bridgewave
	url = git://github.com/zenoss/ZenPacks.BlakeDrager.Bridgewave.git
[submodule "ZenPacks.BlakeDrager.JuniperJSeries.Performance"]
	path = ZenPacks.BlakeDrager.JuniperJSeries.Performance
	url = git://github.com/zenoss/ZenPacks.BlakeDrager.JuniperJSeries.Performance.git
[submodule "ZenPacks.BlakeDrager.fping"]
	path = ZenPacks.BlakeDrager.fping
	url = git://github.com/zenoss/ZenPacks.BlakeDrager.fping.git
[submodule "ZenPacks.DrD_Studios.BlueArc"]
	path = ZenPacks.DrD_Studios.BlueArc
	url = git://github.com/zenoss/ZenPacks.DrD_Studios.BlueArc.git
[submodule "ZenPacks.Ecocoms.OpenLayersMap"]
	path = ZenPacks.Ecocoms.OpenLayersMap
	url = git://github.com/zenoss/ZenPacks.Ecocoms.OpenLayersMap.git
[submodule "ZenPacks.Firestar.CiscoASA"]
	path = ZenPacks.Firestar.CiscoASA
	url = git://github.com/zenoss/ZenPacks.Firestar.CiscoASA.git
[submodule "ZenPacks.HP.Proliant.MIBs"]
	path = ZenPacks.HP.Proliant.MIBs
	url = git://github.com/zenoss/ZenPacks.HP.Proliant.MIBs.git
[submodule "ZenPacks.Hyper.virtualMachines"]
	path = ZenPacks.Hyper.virtualMachines
	url = git://github.com/zenoss/ZenPacks.Hyper.virtualMachines.git
[submodule "ZenPacks.Imas.BlueCoat"]
	path = ZenPacks.Imas.BlueCoat
	url = git://github.com/zenoss/ZenPacks.Imas.BlueCoat.git
[submodule "ZenPacks.Imas.SmsFunctions"]
	path = ZenPacks.Imas.SmsFunctions
	url = git://github.com/zenoss/ZenPacks.Imas.SmsFunctions.git
[submodule "ZenPacks.Ironport.PerformanceGraphs"]
	path = ZenPacks.Ironport.PerformanceGraphs
	url = git://github.com/zenoss/ZenPacks.Ironport.PerformanceGraphs.git
[submodule "ZenPacks.Iwillfearnoevil.Domain"]
	path = ZenPacks.Iwillfearnoevil.Domain
	url = git://github.com/zenoss/ZenPacks.Iwillfearnoevil.Domain.git
[submodule "ZenPacks.Iwillfearnoevil.Powernet7930"]
	path = ZenPacks.Iwillfearnoevil.Powernet7930
	url = git://github.com/zenoss/ZenPacks.Iwillfearnoevil.Powernet7930.git
[submodule "ZenPacks.Iwillfearnoevil.Powernet9225"]
	path = ZenPacks.Iwillfearnoevil.Powernet9225
	url = git://github.com/zenoss/ZenPacks.Iwillfearnoevil.Powernet9225.git
[submodule "ZenPacks.Jcolon.NortelMibs"]
	path = ZenPacks.Jcolon.NortelMibs
	url = git://github.com/zenoss/ZenPacks.Jcolon.NortelMibs.git
[submodule "ZenPacks.Jcolon.NortelPassport"]
	path = ZenPacks.Jcolon.NortelPassport
	url = git://github.com/zenoss/ZenPacks.Jcolon.NortelPassport.git
[submodule "ZenPacks.JohnBeck.power.AP7841"]
	path = ZenPacks.JohnBeck.power.AP7841
	url = git://github.com/zenoss/ZenPacks.JohnBeck.power.AP7841.git
[submodule "ZenPacks.Lais.Asterisk"]
	path = ZenPacks.Lais.Asterisk
	url = git://github.com/zenoss/ZenPacks.Lais.Asterisk.git
[submodule "ZenPacks.LearningObjects.PostgresqlMonitor"]
	path = ZenPacks.LearningObjects.PostgresqlMonitor
	url = git://github.com/zenoss/ZenPacks.LearningObjects.PostgresqlMonitor.git
[submodule "ZenPacks.MJW.BarracudaMonitor"]
	path = ZenPacks.MJW.BarracudaMonitor
	url = git://github.com/zenoss/ZenPacks.MJW.BarracudaMonitor.git
[submodule "ZenPacks.Nagios.CheckPing"]
	path = ZenPacks.Nagios.CheckPing
	url = git://github.com/zenoss/ZenPacks.Nagios.CheckPing.git
[submodule "ZenPacks.Nova.Cisco.Catalyst"]
	path = ZenPacks.Nova.Cisco.Catalyst
	url = git://github.com/zenoss/ZenPacks.Nova.Cisco.Catalyst.git
[submodule "ZenPacks.Nova.Cisco.Mibs"]
	path = ZenPacks.Nova.Cisco.Mibs
	url = git://github.com/zenoss/ZenPacks.Nova.Cisco.Mibs.git
[submodule "ZenPacks.Nova.Collector.Tool"]
	path = ZenPacks.Nova.Collector.Tool
	url = git://github.com/zenoss/ZenPacks.Nova.Collector.Tool.git
[submodule "ZenPacks.Nova.UCDFileSystemMap"]
	path = ZenPacks.Nova.UCDFileSystemMap
	url = git://github.com/zenoss/ZenPacks.Nova.UCDFileSystemMap.git
[submodule "ZenPacks.Nova.Windows.SNMPPerfMonitor"]
	path = ZenPacks.Nova.Windows.SNMPPerfMonitor
	url = git://github.com/zenoss/ZenPacks.Nova.Windows.SNMPPerfMonitor.git
[submodule "ZenPacks.Nova.Windows.SNMPPerfMonitorSimple"]
	path = ZenPacks.Nova.Windows.SNMPPerfMonitorSimple
	url = git://github.com/zenoss/ZenPacks.Nova.Windows.SNMPPerfMonitorSimple.git
[submodule "ZenPacks.OndrejJakubcik.OracleHwMonitoring"]
	path = ZenPacks.OndrejJakubcik.OracleHwMonitoring
	url = git://github.com/zenoss/ZenPacks.OndrejJakubcik.OracleHwMonitoring.git
[submodule "ZenPacks.Opengear.ConsoleServer"]
	path = ZenPacks.Opengear.ConsoleServer
	url = git://github.com/zenoss/ZenPacks.Opengear.ConsoleServer.git
[submodule "ZenPacks.Opengear.MIBs"]
	path = ZenPacks.Opengear.MIBs
	url = git://github.com/zenoss/ZenPacks.Opengear.MIBs.git
[submodule "ZenPacks.PBnJSolutions.Barracuda.Watcher"]
	path = ZenPacks.PBnJSolutions.Barracuda.Watcher
	url = git://github.com/zenoss/ZenPacks.PBnJSolutions.Barracuda.Watcher.git
[submodule "ZenPacks.Peak6JC.WeatherGoose"]
	path = ZenPacks.Peak6JC.WeatherGoose
	url = git://github.com/zenoss/ZenPacks.Peak6JC.WeatherGoose.git
[submodule "ZenPacks.PlixerInternational.Scrutinizer"]
	path = ZenPacks.PlixerInternational.Scrutinizer
	url = git://github.com/zenoss/ZenPacks.PlixerInternational.Scrutinizer.git
[submodule "ZenPacks.RomanTykhonov.OracleDB"]
	path = ZenPacks.RomanTykhonov.OracleDB
	url = git://github.com/zenoss/ZenPacks.RomanTykhonov.OracleDB.git
[submodule "ZenPacks.SCC.ShowGraphPortlet"]
	path = ZenPacks.SCC.ShowGraphPortlet
	url = git://github.com/zenoss/ZenPacks.SCC.ShowGraphPortlet.git
[submodule "ZenPacks.SLSMC.DragonWave"]
	path = ZenPacks.SLSMC.DragonWave
	url = git://github.com/zenoss/ZenPacks.SLSMC.DragonWave.git
[submodule "ZenPacks.TijmenvandenBrink.JuniperIVE"]
	path = ZenPacks.TijmenvandenBrink.JuniperIVE
	url = git://github.com/zenoss/ZenPacks.TijmenvandenBrink.JuniperIVE.git
[submodule "ZenPacks.TijmenvandenBrink.Riverbed"]
	path = ZenPacks.TijmenvandenBrink.Riverbed
	url = git://github.com/zenoss/ZenPacks.TijmenvandenBrink.Riverbed.git
[submodule "ZenPacks.TwoNMS.PrinterMIB"]
	path = ZenPacks.TwoNMS.PrinterMIB
	url = git://github.com/zenoss/ZenPacks.TwoNMS.PrinterMIB.git
[submodule "ZenPacks.Veritas.Netbackup"]
	path = ZenPacks.Veritas.Netbackup
	url = git://github.com/zenoss/ZenPacks.Veritas.Netbackup.git
[submodule "ZenPacks.ZenSystems.ApcAts"]
	path = ZenPacks.ZenSystems.ApcAts
	url = git://github.com/zenoss/ZenPacks.ZenSystems.ApcAts.git
[submodule "ZenPacks.ZenSystems.ApcPdu"]
	path = ZenPacks.ZenSystems.ApcPdu
	url = git://github.com/zenoss/ZenPacks.ZenSystems.ApcPdu.git
[submodule "ZenPacks.ZenSystems.ApcUps"]
	path = ZenPacks.ZenSystems.ApcUps
	url = git://github.com/zenoss/ZenPacks.ZenSystems.ApcUps.git
[submodule "ZenPacks.ZenSystems.DellUps"]
	path = ZenPacks.ZenSystems.DellUps
	url = git://github.com/zenoss/ZenPacks.ZenSystems.DellUps.git
[submodule "ZenPacks.ZenSystems.Juniper"]
	path = ZenPacks.ZenSystems.Juniper
	url = git://github.com/zenoss/ZenPacks.ZenSystems.Juniper.git
[submodule "ZenPacks.ZenSystems.olsonPower"]
	path = ZenPacks.ZenSystems.olsonPower
	url = git://github.com/zenoss/ZenPacks.ZenSystems.olsonPower.git
[submodule "ZenPacks.altea.SQLServer"]
	path = ZenPacks.altea.SQLServer
	url = git://github.com/zenoss/ZenPacks.altea.SQLServer.git
[submodule "ZenPacks.atrawog.Brocade"]
	path = ZenPacks.atrawog.Brocade
	url = git://github.com/zenoss/ZenPacks.atrawog.Brocade.git
[submodule "ZenPacks.chitambira.mgeUPS"]
	path = ZenPacks.chitambira.mgeUPS
	url = git://github.com/zenoss/ZenPacks.chitambira.mgeUPS.git
[submodule "ZenPacks.chudler.AlterPathCS"]
	path = ZenPacks.chudler.AlterPathCS
	url = git://github.com/zenoss/ZenPacks.chudler.AlterPathCS.git
[submodule "ZenPacks.chudler.GoogleAppEngine"]
	path = ZenPacks.chudler.GoogleAppEngine
	url = git://github.com/zenoss/ZenPacks.chudler.GoogleAppEngine.git
